.s2 {
    background-color: white;
    border-bottom: 1px solid balck;
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 100px;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    background-color: #f0ead6;
}

.social-links {
    display: grid;
    align-content: center;
    text-align: center;
}

#social-img {
    width: 100%;
}